<div  class="title">
	<h1>Belfry SP Fry<span id="secret">d</span>ek</h1>
</div>
<div id="menu">
	<nav>
	  <ul>
		<li><a href="/">Strona główna</a></li>
		<!-- <li><a href="media.html">Zdjęcia i Filmy</a></li> -->
		<!-- <li><a href="#">Informacje i ogłoszenia</a></li> -->
		<li><a href="https://chat.openai.com/chat" target="_blank">Chat GPT</a></li>
		<li><a href="https://uonetplus.vulcan.net.pl/gminamiedzna" target="_blank">E-dziennik</a></li>
		<li><a href="/files">Zasoby</a></li>
		<li><a href="/upload">Wyślij zasoby</a></li>
		<li><a href="/kontakt">Kontakt</a></li>
		<li><a href="/login">Zaloguj</a></li>
		<li><a href="/logout">Wyloguj</a></li>
	  </ul>
	</nav>
</div>