{% extends 'base.html' %}
{% block body %}
		{% include 'navbar.html' %}
	<div id="prezentacja">
		<video width="853" height="480" controls>
			<source src="static/films/szkola_frydek.mp4" type="video/mp4">
			Twoja przeglądarka nie obsługuje odtwarzania filmów w formacie mp4.
		</video>
	</div>
	<div id="imageGallery">
		{% if prace %}
			{% for praca in prace %}
				<img class="thumbnail" src="static/img/{{praca}}"><br>
			{% endfor %}
		{% endif %}
	</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}